argh==0.26.2
attrs==19.2.0
bidict==0.21.0
bmt==0.7.6
CacheControl==0.12.6
cachetools==5.1.0
cachier==1.2.5
certifi==2023.7.22
chardet==3.0.4
Click==8.0.0
conf==0.4.
Cython==0.29.26
dataclasses==0.6
decorator==4.4.0
diskcache==4.0.0
docker==4.4.2
graphviz==0.20.1
HTMLParser==0.0.2
idna==3.7
isodate==0.6.0
jsobject==0.10.2
jsonlines==3.0.0
jsonpickle==3.2.2
kgx==1.5.6
lockfile==0.12.2
marshmallow==3.0.0b11
mysqlclient==1.4.4
neo4j==4.3
networkx==2.5
numpy==1.21.6
ontobio==2.8.0
pandas==1.0.3
pathtools==0.1.2
portalocker==1.4.0
prefixcommons==0.1.9
pymongo==4.6.3
PyMySQL==1.1.1
pyparsing==2.4.7
pysolr==3.8.1
python-dateutil==2.8.1
pytz==2022.2
PyYAML==5.4
rdflib==6.0.0
requests==2.31.0
scipy==1.7.3
six==1.12.0
snakemake==5.5.4
SPARQLWrapper==1.8.5
urllib3>=1.25.9
watchdog==0.9.0
xmltodict==0.12.0
yamldown==0.1.8
validators==0.15.0
