HTMLParser==0.0.2
jsonlines==3.0.0
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.4
snakemake==9.6.1
urllib3>=1.25.9
xmltodict==0.12.0
validators==0.15.0
tqdm==4.67.1
bmt==1.4.5
pandas==2.2.3
numpy==2.3.2
stitch-proj==0.1.0

